/*
!.gitignore
!alacritty/
!Arch\ Linux\ Install.md
!betterlockscreenrc
!bin/
!bspwm/
!cmus/
cmus/autosave
cmus/cache
cmus/command-history
cmus/playlists/default
!dunst/
!git/
!gtk-3.0/
!HOWTO.md
!idea/
!imwheel/
!install/
!k9s/
!mimeapps.list
!nvim/
nvim/.netrwhist
!picom/
!polybar/
!pulseaudio-ctl/
!qutebrowser/
!README.md
!scripts/
!service/
!streamlink/
!sxhkd/
!sxiv/
!tmux/
!vifm/vifmrc
!vifm/colors/
!vifm/scripts/
!X/
!zsh/
