/*
/* ignore */
*
/* allow */
!.gitignore
!Arch_Linux_Install.md
!HOWTO.md
!README.md
!X/
!alacritty/
!betterlockscreenrc
!migrate_wayland.txt
!bin/
!bspwm/
!cargo/
!cmus/
!dunst/
!gammastep/
!git/
!gtk-3.0/
!idea/
!install/
!k9s/
!mimeapps.list
!nvim/
!picom/
!polybar/
!pulseaudio-ctl/
!river/
!rofi/
!scripts/
!service/
!sxhkd/
!sxiv/
!vifm/colors/
!vifm/scripts/
!vifm/vifmrc
!waybar/
!web-greeter/
!X/
!zsh/
