/*
/* ignore */
*
/* allow */
!.gitignore
!Arch_Linux_Install.md
!HOWTO.md
!README.md
!alacritty/
!bin/
!cargo/
!cmus/
!dunst/
!gammastep/
!git/
!gtk-3.0/
!hypr/
!idea/
!install/
!k9s/
!mimeapps.list
!nvim/
!rofi/
!scripts/
!service/
!vifm/colors/
!vifm/scripts/
!vifm/vifmrc
!waybar/
!zsh/
